  body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    min-height: 100vh;

  }
  
  html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;             /* hides side scroll */
    overscroll-behavior: none;      /* disables rubber-banding */
    touch-action: manipulation;  
  }

  .main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;               /* prevents internal white bounce */
    position: relative;
  }
  .background-container {
    min-height: 100%;
    background: linear-gradient(to bottom, #000000,#000000,#000000,#000000, #000000,#000);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar {
    background-color: transparent; /* Transparent background */
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
    height: 60px;
    position: relative;
    z-index: 10;
    
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    background: linear-gradient(to right, #bdbdbd, #999999);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: background 0.3s ease;
  }
  
  .nav-links a:hover {
    background: linear-gradient(to right, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .image-wrapper {
    width: 100%;            /* Relative to viewport or parent */
    max-width: 800px;      /* Match or a bit larger than image max-width */

    position: relative;    /* Needed for absolutely positioned overlay */
    min-width: 600px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }
  @media (max-width: 640px) {
    .main-content {
      margin-top: 8rem; /* More space from top */
    }
  }
  
  .center-image {
    display: block;  /* This removes inline gap */
    width: 100%;
    height: auto;
    border-radius: 10px;
    
  }
  .text-overlay {
    position: absolute;
    bottom: -10px;              /* flush to bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 110%;
    pointer-events: none;
  
    /* Optional: no padding/margin so text sticks */
    padding: 0;
    margin: 0;
  }
  
  
  .gradient-title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 300; /* Regular */
    filter: drop-shadow(110px 110px 110px rgba(0,0,0,0.8));
    font-size: clamp(4rem, 6vw, 6.8rem);
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(to bottom right, #FFFFFF, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

  }

  .gradient-subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 300; /* Regular */
    font-size: clamp(1rem, 2vw, 3rem); /* Responsive font size */
    margin-top: 1rem;
    background: linear-gradient(to bottom right, #FFFFFF, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  

  .feature-row {
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.6rem, 1.5vw, 1.2rem); /* scales with screen */
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  @media (min-width: 500px) {
    .feature-row {
      flex-wrap: nowrap;
    }
  }
  /* Reduce gap on small screens */
@media (max-width: 600px) {
    .feature-row {
      gap: 2rem;
    }
  }
  
  /* Allow wrapping only on very small screens */
  @media (max-width: 400px) {
    .feature-row {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 800px) {
    header {
      display: none;
    }
  }
  
  /* .divider {
    width: 1px;
    height: 20px;
    background-color: #555;
  } */
  .divider {
    width: 1px;
    height: clamp(1em, 3vw, 1.2em); /* responsive height */
    background-color: rgba(255, 255, 255, 0.3); /* light and modern */
  }

  .gradient-text-react {
    background: linear-gradient(to right, #183943, #61DDFF); /* You can change this per item */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standard syntax */
    color: transparent;
  }
  .gradient-text-django {
    background: linear-gradient(to right, #5FEEB7, #5FEEB7); /* You can change this per item */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standard syntax */
    color: transparent;
  }
  .gradient-text-postgres {
    background: linear-gradient(to right, #3C91D7, #3C91D7); /* You can change this per item */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standard syntax */
    color: transparent;
  }
  .gradient-text-ui {
    background: linear-gradient(to right, #FF673C, #431d13); /* You can change this per item */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standard syntax */
    color: transparent;
  }

  .content-section {
    margin-top: 10rem;
    padding: 4rem 2rem;
    max-width: 900px;
    /* margin: 0 auto; */
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .content-section-getintouch {
    margin-top: 15rem;
    padding: 4rem 2rem;
    /* max-width: 300px; */
    /* margin: 0 auto; */
    text-align: left;
    color: white;
    font-family: 'Inter', sans-serif;
  }
  .content-section-services {
    margin-top: 10rem;
    padding: 4rem 2rem;
    max-width: 900px;
    /* margin: 0 auto; */
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
  }

  .content-section-getintouch h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 3.3vw, 3.3rem);
    margin-bottom: 1rem;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .content-section-getintouch h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
    margin-bottom: 2rem;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  

  .content-section h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 3.3vw, 3.3rem);
    margin-bottom: 1rem;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .content-section-services h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 3.3vw, 3.3rem);
    margin-bottom: -1rem;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .content-section h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
    margin-bottom: 2rem;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .content-section-services h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
    margin-bottom: 2rem;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .content-section h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 6rem;
  }
  .content-section-services h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.2rem, 2.5vw, 2.5rem);
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 4rem;
  }
  
  
  .content-section p, .content-section li {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 4rem);
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1.6;
    /* color: #ccc; */
  }
  .content-section-getintouch p, .content-section-getintouch li {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 4rem);
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1.6;
    /* color: #ccc; */
  }
  
  .content-section ul {
    list-style: none;
    padding: 0;
  }
  
  .content-section li {
    margin-bottom: 0.75rem;
  }

  /* services */
  .content-section-services p, .content-section-services li {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 2vw, 4rem);
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1.6;
    /* color: #ccc; */
  }
  
  .content-section-services ul {
    list-style: none;
    padding: 0;
  }
  
  .content-section-services li {
    margin-bottom: 0.75rem;
  }

  /* Container for all cards */
    .card-section {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping on smaller screens */
        justify-content: center;
        gap: 2rem;
        padding: 3rem 1rem;
        margin-top: -5rem;
    }
  
  /* Each card */
  .card {
    background: linear-gradient(135deg, rgba(121, 121, 121, 0.2), rgba(0, 0, 0, 0.2));
    border: 1px solid rgb(45, 45, 45);
    border-radius: 12px;
    padding: 2rem;
    color: white;
    flex: 1 1 300px;
    max-width: 350px;

    /* backdrop-filter: blur(4px); */
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  
  /* Card title */
  .card-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.4rem, 2.5vw, 2rem);
    margin-bottom: 1rem;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

  }
  
  /* Card paragraph */
  .card-text {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #FFFFFF, #555555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
  }


  /* services */
  .services-section {
    padding: 2rem 1rem;
    max-width: 100px;
    margin: 0 auto;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 2rem;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr)); 
    gap: 2rem;
    justify-content: center; /* centers grid items horizontally */
    max-width: 1100px; /* max width to avoid too wide stretch */
    margin: 0 auto;
  }
  
  @media (max-width: 700px) {
    .services-grid {
      grid-template-columns: 1fr; /* single column on small screens */
    }
  }

.service-box-ui {
  width: clamp(300px, 40vw, 800px);
  aspect-ratio: 1 / 0.5;
  /* margin-top: 10rem; */

  margin: 0 auto;

  border: 1px solid rgb(45, 45, 45);
  border-radius: 12px;
  padding: 2rem 1.5rem;

  background:
    radial-gradient(circle at top left, rgba(255, 126, 111, 0.4), transparent 70%),
    linear-gradient(to bottom, #000000, #000000, #000);
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);

  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  transition: transform 0.3s ease;
}
  
.service-box-cross {

    width: clamp(300px, 40vw, 800px);
    aspect-ratio: 1 / 0.5;
    margin: 0 auto;
  
    border: 1px solid rgb(45, 45, 45);
    border-radius: 12px;
    padding: 2rem 1.5rem;
  
    background:
      radial-gradient(circle at top left, rgba(122, 226, 255, 0.4), transparent 70%),
      linear-gradient(to bottom, #000000, #000000, #000);
    background-repeat: no-repeat;
    background-size: cover;
  
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    transition: transform 0.3s ease;
  }
  .service-box-dj {
    width: clamp(300px, 40vw, 800px);
    aspect-ratio: 1 / 0.5;
    margin: 0 auto;
  
    border: 1px solid rgb(45, 45, 45);
    border-radius: 12px;
    padding: 2rem 1.5rem;
  
    background:
      radial-gradient(circle at top left, rgba(68, 183, 139, 0.4), transparent 70%),
      linear-gradient(to bottom, #000000, #000000, #000);
    background-repeat: no-repeat;
    background-size: cover;
  
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    transition: transform 0.3s ease;
  }
  .service-box-postgres {
    width: clamp(300px, 40vw, 800px);
    aspect-ratio: 1 / 0.5;
    margin: 0 auto;
  
    border: 1px solid rgb(45, 45, 45);
    border-radius: 12px;
    padding: 2rem 1.5rem;
  
    background:
      radial-gradient(circle at top left, rgba(51, 103, 145, 0.4), transparent 70%),
      linear-gradient(to bottom, #000000, #000000, #000);
    background-repeat: no-repeat;
    background-size: cover;
  
    box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
  
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    transition: transform 0.3s ease;
  }


.service-box-ui:hover {
  transform: translateY(-5px);
}
.service-box-cross:hover {
    transform: translateY(-5px);
  }
  .service-box-dj:hover {
    transform: translateY(-5px);
  }
  .service-box-postgres:hover {
    transform: translateY(-5px);
  }
  .service-title-container {
    display: flex;
    align-items: center;
    background: #00000050;
    padding: 0rem 1.5rem; /* adjusted padding */
    border-radius: 9999px;
    border: 0.3px solid rgba(101, 101, 101, 0.8);
    max-width: fit-content;
    margin: 0 auto; /* centers horizontally */
    gap: 0.6rem; /* ✅ This creates space between icon and title */
  }
  .service-icon {
    width: clamp(25px, 4vw, 40px);
    height: clamp(25px, 4vw, 40px);
    object-fit: contain;
  }
  
  .service-icon-figma {
    width: clamp(20px, 3vw, 30px);
    height: clamp(20px, 3vw, 30px);
    object-fit: contain;
  }
  
  .service-icon-postgres {
    width: clamp(25px, 4vw, 40px);
    height: clamp(25px, 4vw, 40px);
    object-fit: contain;
    padding-top: 0.5rem;
  }
  
  
  .service-title {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;

    
  }
  
  .service-box p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  .content-section p1, .content-section li {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    background: linear-gradient(to right, #FFFFFF, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1.6;
    text-align: left; /* ✅ This aligns text to the left */
  }
  .content-section-services p1, .content-section-services li {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    background: linear-gradient(to right, #FFFFFF, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1.6;
    text-align: left; /* ✅ This aligns text to the left */
  }
  .service-list {
    list-style-type: disc;
    padding-left: 1.2rem;
    margin: 0;
    color: #444;
    font-family: Arial, sans-serif;
    font-size: 0.95rem;
  }

  /* Start hidden */
.fade-in {
    opacity: 0;
    transform: translateY(20px); /* slight slide from bottom */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  /* When visible */
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* Contact Me Form */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 400px;
    margin: 2rem 0;
  }
  .contact-form input, .contact-form textarea {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #444;
    background: #000000;
    color: #fff;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
  .contact-form button {
    background: linear-gradient(to right, #000 0%, #000 100%);
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 0.8rem 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    border: 1px solid #444;
    transition: background 0.2s;
    font-family: 'Inter', sans-serif;
    font-weight: 300;


  }
  .contact-form button:hover {
    background: linear-gradient(to right, #ffffff 0%, #999999 100%);
    color: #000;
  }

  #form-status {
    margin-top: 1rem;
    text-align: center; /* ✅ Center text inside the form box */
    background: linear-gradient(to right, #FFFFFF, #444444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }

  input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

